[Unit]
Description=Walker Launcher Service

[Service]
Type=simple
ExecStart=/usr/bin/walker --gapplication-service
Restart=on-failure

[Install]
WantedBy=graphical-session.target
