[Desktop Entry]
Name=Pencil
Comment=Design on canvas, land in code
Exec=/home/chungsam/.local/share/pencil/Pencil.AppImage --disable-features=WaylandWindowDecorations %U
Icon=pencil
Type=Application
StartupWMClass=Pencil
Categories=Development;Graphics;
Terminal=false
